venv
__pycache__

__*

# for latex
tmp/
*.pdf
*.gz


prof_*/
profiler_*/
out_dir*/
jobname*/


a_cluster/
a_prep_plots_thesis/
a_heat_2d_oscills/

cluster_d4/
cluster_d6/
cluster_d6_rar/
cluster_d8/

run_adam/
run_latest*/


testing_data*.pth